.section1 {
  margin-bottom: 90px;
}

.section1__titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section1__titles2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.section1__titles2 .section1__title {
  margin-right: 38px;
}

.section1__title-img-active {
  display: none;
}

.section1__title {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  opacity: 0.38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;

  &:hover, &.active {
    font-weight: bold;
    color: #25252B;
    opacity: 1;
  }

  &:hover .section1__title-img-active,
  &.active .section1__title-img-active {
    display: block;
  }

  &:hover .section1__title-img-inactive,
  &.active .section1__title-img-inactive {
    display: none;
  }

  &::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
}

.section1__title div {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1__logos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section1__logos {
  display: inline-block;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px 28px;
}

.section1__logos-inner-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.section1_logo-item {
  padding-left: 35px;
  padding-right: 35px;
  display: inline-block;
  margin-top: 25px;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    margin-top: 0;
  }


  &:nth-child(6n+1) {
    padding-left: 0;
  }

  &:nth-child(6n) {
    padding-right: 0;
  }
}